.gridContainer {
  min-height: 180px;
  height: 115vh;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  opacity: 1;
  transition: 2s;
}

.cardContainer {
  display: inline-block;
  position: relative;
  width: 12.5vw;
  text-align: center;
  height: 33vh;
  margin: auto 25px;
  transition: 0.7s;
  margin-bottom: 3%;
}

.cardContainer:hover {
  transform: scale(1.4);
  position: relative;
  z-index: 5;
}

.cardContainer img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.cardContainer:hover img {
  filter: brightness(70%);
}

.cardContainer h1 {
  font-size: 14px;
  line-height: 15px;
  position: absolute;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.metadataContainer {
  position: absolute;
  top: 38%;
  height: 62%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 22, 1) 60%,
    rgba(0, 0, 22, 0.8) 85%,
    rgba(0, 0, 22, 0.6) 90%,
    rgba(12, 12, 14, 0.4) 95%,
    rgba(12, 12, 14, 0.106) 98%,
    rgba(0, 0, 0, 0.08) 100%
  );
  transition: 0.8s;
}

.cardContainer:hover .metadataContainer {
  opacity: 1;
}

.metadataTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 16px;
  text-align: left;
  width: 85%;
  margin: auto;
  font-weight: bold;
  margin-bottom: 10px;
}

.metadataOverview {
  font-size: 10px;
  min-height: 45px;
  line-height: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  margin: auto;
  width: 85%;
}

.metadataContentType {
  position: absolute;
  width: 100%;
  top: 72%;
  text-align: left;
  margin: auto;
  width: 85%;
  font-size: 10px;
  color: gray;
  font-weight: bolder;
  left: 7%;
}

.viewMoreButton {
  background-color: #000081;
  position: absolute;
  margin: auto;
  width: 85%;
  top: 82%;
  left: 7%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 3px;
  z-index: 10;
}

.viewMoreButton:hover {
  filter: brightness(140%);
}

@media screen and (max-width: 490px) {
  .cardContainer {
    display: inline-block;
    position: relative;
    width: 42vw;
    text-align: center;
    height: 33vh;
    margin: 3%;
    margin-bottom: 3%;
  }

  .cardContainer img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
  }
}
