.carouselContainer {
  width: 100%;
  overflow: hidden;
}

.carousel {
  width: 100%;
  margin: 0;
  opacity: 1;
}

.carouselTitle {
  margin-top: 4%;
}

.cardContainer {
  text-align: center;
  height: 42vh;
  margin: 0;
  overflow: auto;
  padding-top: 4%;
}

.cardContainer p {
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  margin-top: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.cardContainer img {
  height: 85%;
  width: 12.5vw;
  border-radius: 10px;
  margin: auto;
  transition: 0.4s;
}

.cardContainer img:hover {
  filter: brightness(120%);
  transform: scale(1.04);
}

.rightNavArrow {
  height: 84%;
  width: 4%;
  position: absolute;
  right: 0;
  top: 1.9%;
  z-index: 10;
  border-radius: 10px 0 0 10px;
}

.rightNavArrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.rightArrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 30%;
  padding: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

.rightNavArrow:hover .rightArrow {
  opacity: 1;
}

.leftNavArrow {
  height: 84%;
  width: 3.2%;
  position: absolute;
  left: 0;
  top: 1.9%;
  z-index: 10;
  border-radius: 0 10px 10px 0;
}

.leftNavArrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.leftArrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 30%;
  padding: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  opacity: 0;
}

.leftNavArrow:hover .leftArrow {
  opacity: 1;
}

@media screen and (max-width: 490px) {
  .cardContainer {
    text-align: center;
    height: 33vh;
    margin: 0;
    margin-left: 10px;
    overflow: auto;
  }

  .cardContainer img {
    height: 100%;
    width: 39vw;
  }

  .rightNavArrow {
    display: none;
  }

  .leftNavArrow {
    display: none;
  }
}
