.heroCarousel {
    height: 75vh;
    width: 100vw;
    opacity: 0;
    transition: 1s;
}

.heroOverlay {
    position: absolute;
    height: 75.5vh;
    width: 100vw;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: 
    linear-gradient(0deg, rgba(12, 12, 14, 0.7) 8%, rgba(0,0,0,0) 60%),
    linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.7) 18%, rgba(52,51,62,0) 50%);

}

.heroContainer {
    width: 100vw;
    height: 75vh;
    text-align: center;
    display: flex;
}

.heroContainer img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    transition: 1s;
}
  
.heroContainer h1 {
    position: absolute;
    top: 60%;
    left: 5%;
    text-align: justify;
    width: 60%;
    z-index: 999;
    font-size: 34px;
    text-transform: uppercase;
}
  
.heroContainer h3 {
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: justify;
    width: 50%;
    z-index: 2;
    font-size: 27px;
    text-transform: uppercase;
}
  
.heroContainer p {
    position: absolute;
    top: 70%;
    left: 5%;
    text-align: justify;
    width: 50%;
    z-index: 2;
    font-size: 17px;
}
  